<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="text-align: center; margin-top: -4px; padding-left: 15px; display: inline-block;"
           href="index.html">
            <center><img width="120px" src="images/logo.png" style="margin-top: -6px;"/>
                <p style="display: block; float: right; font-size: 60%; color: #EEEEEE; margin-top: 10px; padding-left: 9px;">
                    | ADMINISTRATOR PANEL</p>
            </center>
        </a>
    </div>
    <!-- /.navbar-header -->

</nav>
<div class="col-md-12">
    <div style="position: fixed; z-index: 5" id="createSuccess" class="alert alert-success">
        <strong>Success!</strong> ITEM GOOD DAWG
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Admin Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Add New Auction Item
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Item Name</label>
                            <input ng-model="name" placeholder="Item Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Item Description</label>
                            <input ng-model="description" placeholder="Item Description" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Minimum Price (Optional)</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input ng-model="price" placeholder="Price" type="text" class="form-control">
                                <span class="input-group-addon">.00</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Image Upload</label>
                            <input type="file" id="file" name="file">
                        </div>
                        <div class="pull-right">
                            <button type="reset" class="btn btn-warning">Clear</button>
                            <button type="submit" class="btn btn-success" ng-click="makeItem()">Create Item</button>
                        </div>


                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row" style="text-align: center; padding-bottom: 15px;">
        <p> ... </p>
    </div>
    <!-- /.row -->

    <div id="editSuccess" class="alert alert-success">
        <strong>Success!</strong> EDIT GOOD DAWG
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 style="margin-top: 5px">Auctioned Items: <strong>{{ items.length }}</strong></h3>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-warning btn-sm" ng-click="deleteAllItems()">Delete all items</button>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group" width="200px">
                                <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search"
                                       name="srch-term" id="srch-term">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i
                                            class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <!-- Project One -->
                    <div class="container">
                        <div ng-show="items.length == 0">
                            No Items
                        </div>
                        <div ng-show="items.length != 0" class="row text-center">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item" ng-class="{active:!$first}">
                                        <div class="col-md-3 col-sm-6 hero-feature"
                                             ng-repeat="item in items | filter: searchTerm">
                                            <div class="thumbnail">
                                                <img src="{{ item.item_image }}" alt="">
                                                <div class="caption">
                                                    <h3>{{ item.item_name }}</h3>
                                                    <p class="truncate">{{ item.item_desc }}</p>
                                                    <p>
                                                        <button type="button" ng-click="setModal(item)"
                                                                class="btn btn-primary btn-lg" data-toggle="modal"
                                                                data-target="#myModal">
                                                            Edit Item
                                                        </button>
                                                        <button type="button" ng-click="setModal2(item.items_high_bid)"
                                                                class="btn btn-default btn-lg" data-toggle="modal"
                                                                data-target="#myModal2">
                                                            Current Bidder
                                                        </button>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- /.row -->
                    <hr>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /.row -->

<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Open Modal</button>-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><strong>Edit Item: {{ modalItem.item_name }} </strong></h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Item Name</label>
                        <input ng-model="modalItem.item_name" placeholder="Item Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Item Description</label>
                        <input ng-model="modalItem.item_desc" placeholder="Item Description" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Minimum Price (Optional)</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input ng-model="modalItem.item_price" placeholder="Price" type="text" class="form-control">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Image Upload</label>
                        <input ng-model="modalItem.item_image" type="file"
                               onchange="angular.element(this).scope().fileChange(this)">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" ng-click="deleteItem(modalItem)">Delete</button>
                <button type="button" class="btn btn-primary" ng-click="editItem(modalItem)" data-dismiss="modal">Save
                    changes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Highest Bid Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div ng-show="isBid" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2"><strong>Bidder Details: </strong></h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-4">
                        <label>Name</label>
                        <p>{{ modalItem2.bids_name }}</p>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-6">
                        <label>Email</label>
                        <p>{{ modalItem2.bids_email }}</p>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-6">
                        <label>Telephone</label>
                        <p>{{ modalItem2.bids_phone }}</p>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-6">
                        <label>Current High Bid</label>
                        <p>{{ modalItem2.bids_bid }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- No Highest bid-->
        <div ng-hide="isBid" class="modal-content">
            <p> No Highest Bid</p>
        </div>
    </div>
</div>

</html>
