<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hospice PEI - Auction House</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="margin-top: -8px;"><img width="130px" src="images/logo.png" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li style="margin-top: 6px; padding-bottom: 4px;">
                        <a href="#/items">Auction</a>
                    </li>
                    <li style="margin-top: 6px;">
                        <a href="#/contact">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                	<li>
                    	<a class="login-button" href="#/login"> <button type="button" class="btn btn-success navbar-btn">Login</button></a>
                    </li>
                </ul>
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <!-- Jumbotron Header -->
        <div class="jumbotron hero-spacer col-md-12">
            <div class="col-md-8">
                <h1>A Warm Welcome!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
                <p><a class="btn btn-success btn-large">See All Items</a>
            </div>
            <div class="col-md-4">
                <img class="img-circle" style="max-width: 100%; max-height: 100%;" src="../images/logo.png" />
            </div>
        </div>
        <hr>
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Latest Items for Auction</h3>
            </div>
        </div>
        <!-- /.row -->
        <!-- Page Features -->
    </div>
    <div class="container">
        <div class="row text-center">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
               <!--<ol class="carousel-indicators" ng-repeat="items in items" ng-if="$index%4==0">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                </ol>-->
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item" ng-class="{active:!$index}" ng-repeat="item in items" ng-if="$index%4==0">
                        <div class="col-md-3 col-sm-6 hero-feature" ng-if="items.length >=1">
                            <div class="thumbnail">
                                <img src="{{ items[getSecondIndex($index)].item_image }}" alt="" height="300" width="300">
                                <div class="caption">
                                    <h3>{{ items[getSecondIndex($index)].item_name }}</h3>
                                    <center>
                                    <p class="truncate">{{ items[getSecondIndex($index)].item_desc }}</p>
                                    </center>
                                    <p>
                                        <button type="button" ng-click="setModal(items[$index])" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            Place Bid
                                        </button>
                                        <button type="button" ng-click="setModal2(items[$index])" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal2">
                                            More Info
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature" ng-if="items.length >=2">
                            <div class="thumbnail">
                                <img src="{{ items[getSecondIndex($index+1)].item_image }}" alt="" height="300" width="300">
                                <div class="caption">
                                    <h3>{{ items[getSecondIndex($index+1)].item_name }}</h3>
                                    <center>
                                    <p class="truncate">{{ items[getSecondIndex($index+1)].item_desc }}</p>
                                    </center>
                                    <p>
                                        <button type="button" ng-click="setModal(items[$index+1])" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            Place Bid
                                        </button>
                                        <button type="button" ng-click="setModal2(items[$index+1])" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal2">
                                            More Info
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature" ng-if="items.length >=3">
                            <div class="thumbnail">
                                <img src="{{ items[getSecondIndex($index+2)].item_image }}" alt="" height="300" width="300">
                                <div class="caption">
                                    <h3>{{ items[getSecondIndex($index+2)].item_name }}</h3>
                                    <center>
                                    <p class="truncate">{{ items[getSecondIndex($index+2)].item_desc }}</p>
                                    </center>
                                    <p>
                                        <button type="button" ng-click="setModal(items[$index+2])" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            Place Bid
                                        </button>
                                        <button type="button" ng-click="setModal2(items[$index+2])" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal2">
                                            More Info
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 hero-feature" ng-if="items.length >=4">
                            <div class="thumbnail">
                                <img src="{{ items[getSecondIndex($index+3)].item_image }}" alt="" height="300" width="300">
                                <div class="caption">
                                    <h3>{{ items[getSecondIndex($index+3)].item_name }}</h3>
                                    <center>
                                    <p class="truncate2">{{ items[getSecondIndex($index+3)].item_desc }}</p>
                                    </center>
                                    <p>
                                        <button type="button" ng-click="setModal(items[$index+3])" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            Place Bid
                                        </button>
                                        <button type="button" ng-click="setModal2(items[$index+3])" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal2">
                                            More Info
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row text-center">
            <a class="btn btn-primary btn-large" href="#/items">See All {{ items.length }} Items</a>
        </div>
    </div>    
    <br/>
    <!-- /.row -->

    <!-- Place Bid Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <div class="col-lg-12">
                        <img src="{{ modalItem.item_image }}" alt="" height="250" width="250">
                        <h2 class="modal-title" id="myModalLabel">{{ modalItem.item_name }}</h2>
                        <p></br>{{ modalItem.item_desc }}</p>
                    </div>
                    <div class="modal-body">

                        <form name="userForm" ng-submit="submitForm()" novalidate>

                            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                                <label>Name</label>
                                <input ng-model="name" placeholder="Bidder Name" class="form-control" required name="name">
                                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is required.</p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                                <label>Email</label>
                                <input type="email" ng-model="email" placeholder="Bidder Email" class="form-control" required name="email">
                                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>

                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
                                <label>Phone</label>
                                <input type="tel" pattern='[\(]\d{3}[\) ]\d{3}[\-]\d{4}' ng-model="phone" placeholder="(999)999-9999"  class="form-control" name="phone" required>
                                <p ng-show="userForm.phone.$invalid && !userForm.phone.$pristine" class="help-block">Enter a valid phone number.</p>

                            </div>
                            <div>
                                <div class="form-group" ng-class="{ 'has-error' : userForm.bid.$invalid && !userForm.bid.$pristine }">
                                    <label>Minimum Price (${{ modalItem.item_price }})</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input ng-model="bid" placeholder="Price" type="text" class="form-control" name="bid" required>
                                        <span class="input-group-addon">.00</span>
                                        <p ng-show="userForm.bid.$invalid && !userForm.bid.$pristine" class="help-block">Enter a valid phone number.</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"ng-click="clearBid()" data-dismiss="modal">Close</button>

                        <button  data-dismiss="modal" type="submit" class="btn btn-primary" ng-click="makeBid(modalItem.item_id)" ng-disabled="userForm.$invalid">Submit</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- More Info Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2"><strong>Auction Item </strong></h4>
                </div>

                <div class="modal-body">
                    <div class="col-md-6">
                        <img src="{{ modalItem2.item_image }}" alt="" height="250" width="250">
                    </div>
                    <div class="col-md-6">
                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-4">
                                <label><u>Name</u></label>
                                <p>{{ modalItem2.item_name }}</p>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-6">
                                <label><u>Telephone</u></label>
                                <p>{{ modalItem2.item_desc }}</p>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-6">
                                <label><u>Current High Bid</u></label>
                                <p>{{ modalItem2.item_price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <div class="container">
	    <footer>
	        <div class="row" style="padding-top:10px;">
	            <div class="col-lg-12">
	            	<hr>
	                <p>Copyright &copy; 2016 Jordan Holden</p>
	            </div>
	        </div>
	    </footer>
	</div>
    <!-- /.container -->
    <script type="text/javascript">
    $(document).ready(function() {
        $('.carousel').carousel({
            interval: 4200
        })
    });
    </script>
</body>

</html>
