<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hospice PEI - Auction House</title>
    <!-- Bootstrap Core CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
​
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" style="margin-top: -8px;"><img width="130px" src="images/logo.png"/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active-nav" style="margin-top: 6px; padding-bottom: 4px;">
                    <a href="#/items" style="color: white">Auction</a>
                </li>
                <li style="margin-top: 6px;">
                    <a href="#/contact">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="login-button" href="#/login">
                        <button type="button" class="btn btn-success navbar-btn">Login</button>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="col-md-12">
    <div style="position: fixed; z-index: 5" id="createSuccess" class="alert alert-success">
        <strong>Success!</strong> Your bid was successfully placed!
    </div>
</div>
<!-- Page Content -->
<div class="container">
    <!-- Page Header -->
    <div class="row">
        <div class="col-md-6">
            <h1 class="page-header">Auction List
                <small>All {{ items.length}} Items</small>
            </h1>
        </div>
        <div class="col-md-6">
            <div class="input-group" width="200px">
                <input type="text" class="form-control" ng-model="searchTerm" ng-change="filter()" placeholder="Search"
                       name="srch-term" id="srch-term">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i
                            class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div ng-show="items.length == 0">
        <center>
            <div class="container">
        <div class="hero-unit">
            <h1>There are Currently <strong>No Items</strong></h1>
            <p>If you have an item that you would like to add, please visit the <strong>Contact Page</strong></p>
            <p>
                <a class="btn btn-primary btn-large" href="#/contact">
                    Contact Page
                </a>
            </p>
        </div>
            </div>
        </center>
    </div>
    <div ng-show="items.length != 0" class="row">

        <!--<li >No items in this list yet!</li>-->

        <div  class="col-md-3 col-sm-6 hero-feature" ng-repeat="item in filteredItems = (items | filter: searchTerm) | startFrom: (currentPage-1)*numPerPage | limitTo: numPerPage">
            <div class="thumbnail">
                <img src="{{ item.item_image }}" alt="" height="300" width="300">
                <div class="caption">
                    <center>
                    <h3>{{ item.item_name }}</h3>
                    <div>
                    <p class="truncate">{{ item.item_desc }}</p>
                    </div>
                    <p>Current High Bid: {{ item.item_price }}</p>

                        <button type="button" ng-click="setModal(item)" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Place Bid
                        </button>
                        <button type="button" ng-click="setModal2(item)" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal2">
                           More Info
                        </button>
                        </center>

                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
    <hr>

    <!--<pagination
            ng-model="currentPage"
            total-items="items.length"
            max-size="maxSize"
            boundary-links="true">
    </pagination>-->
    <div class="col-sm-12">
    <center>
    <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-lg" boundary-links="true" items-per-page="numPerPage" ></ul>
    </center>
    </div>

    <!-- Pagination -->
    <!--<div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>-->
    <!-- /.row -->
    ​

    <!-- Place Bid Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <div class="col-lg-12">
                    <img src="{{ modalItem.item_image }}" alt="" height="250" width="250">
                  <h2 class="modal-title" id="myModalLabel">Item Name: {{ modalItem.item_name }}</h2>
                    <p></br>Item Description: {{ modalItem.item_desc }}</p>
                </div>
                <div class="modal-body">

                    <form name="userForm" ng-submit="submitForm()" novalidate>

                        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                            <label>Name</label>
                            <input ng-model="name" placeholder="Bidder Name" class="form-control" required name="name">
                            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is required.</p>
                        </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                                <label>Email</label>
                                <input type="email" ng-model="email" placeholder="Bidder Email" class="form-control" required name="email">
                                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>

                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
                                <label>Phone</label>
                                <input type="text"   id="phone" ui-mask="(999) 999-9999" ng-model="phone"  class="form-control" name="phone" required>
                                <p ng-show="userForm.phone.$invalid && !userForm.phone.$pristine" class="help-block">Enter a valid phone number.</p>

                            </div>
                        <div>
                        <div class="form-group" ng-class="{ 'has-error' : userForm.bid.$invalid && !userForm.bid.$pristine}">
                            <label>Minimum Price (${{ modalItem.item_price }})</label>
                            <div class="input-group">
                               <!-- <span class="input-group-addon">$</span>-->
                                <input ng-model="bid" placeholder="Price" type="number" class="form-control" name="bid" min="{{ modalItem.item_price+1 }}" required>
                                <p ng-show="userForm.bid.$invalid && !userForm.bid.$pristine" class="help-block">Enter a valid number that is greater than: ${{ modalItem.item_price }}</p>

                                <!--<span class="input-group-addon">.00</span>-->

                            </div>
                </div>
                </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default"ng-click="clearBid()" data-dismiss="modal">Close</button>

                    <button  data-dismiss="modal" type="submit" class="btn btn-primary" ng-click="makeBid(modalItem.item_id)" ng-disabled="userForm.$invalid">Submit<img height="30px" src="images/default.gif" ng-show="loading"/></button>

                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- More Info Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2"><strong>Auction Item </strong></h4>
                </div>

                <div class="modal-body">
                    <div class="col-md-8">
                        <img src="{{ modalItem2.item_image }}" alt="" height="250" width="250">
                    </div>
                    <div class="col-md-4">
                        <div class="row" style="padding-bottom: 10px;">
                            <label><u>Name</u></label>
                            <p>{{ modalItem2.item_name }}</p>
                        </div>
                        <div class="row" style="padding-bottom: 10px;">
                            <label><u>Item Description</u></label>
                            <p>{{ modalItem2.item_desc }}</p>
                        </div>
                        <div class="row" style="padding-bottom: 10px;">
                            <label><u>Current High Bid</u></label>
                            <p>{{ modalItem2.item_price}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; 2016 Jordan Holden</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>
<!-- /.container -->
<!-- jQuery -->

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
​
</html>